[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "dotbot-brew"]
	path = dotbot-brew
	url = https://github.com/d12frosted/dotbot-brew.git
[submodule "keyboardlayouts/keyboards"]
	path = keyboardlayouts/keyboards
	url = git@github.com:ThePrimeagen/keyboards.git
[submodule "keyboardlayouts/REALDvorak"]
	path = keyboardlayouts/REALDvorak
	url = git@github.com:ThePrimeagen/keyboards.git
[submodule "zed-fonts"]
	path = zed-fonts
	url = git@github.com:zed-industries/zed-fonts.git
[submodule "simple-bar-server"]
	path = simple-bar-server
	url = https://github.com/Jean-Tinland/simple-bar-server.git
